:root {
    --blanco: #ffffff;
    --oscuro: rgb(30, 29, 29);
    --rojo-brillante: #f8010A;
    --principal: rgb(237, 110, 110);
    --secundario: #c2c3cc;
    --fuente: font-family: 'Bebas Neue', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* barra navegacion */

.navbar {

    -webkit-box-shadow: -6px 5px 7px -1px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: -6px 5px 7px -1px rgba(0, 0, 0, 0.54);
    box-shadow: -6px 5px 7px -1px rgba(0, 0, 0, 0.54);
   



}
@media (min-width: 768px) {
     .navbar-collapse {

    display: flex;
    text-align: center;
    justify-content: space-between;

} 
}


.navbar-toggler {
    color: #262629;
}




/* palabras navegacion */
.nav-link {
    color: var(--rojo-brillante);
    opacity: 0.7;
    text-shadow: 4px 4px 4px black;
}

.navbar-brand {
    font-size: 25px;
    color: var(--rojo-brillante);
    font-family: 'Ephesis', cursive;
    opacity: 0.5;
    display: flex;
    text-align: center;
    text-shadow: 4px 4px 5px black;

}




header {
    background-color: rgb(14, 14, 14);

}

.container {


    display: flex;
    align-items: center; 

}

@media (min-width: 768px) {
    .container {
        padding: 80px;
        display: flex;
        align-items: center;
    }

} 



.portada {

    padding: 0px 0px 40px 0px;
}




.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.icono {
    width: 5px;
    background-color: var(--rojo-brillante);
    border-radius: 50%;
}

main {
    background-color: rgb(14, 14, 14);
}

/* titulos seleccion de personajes */

h1 {
    font-size: 20px;
    color: rgb(220, 211, 211);
    font-family: 'Courgette', cursive;
}


h2 {
    color: rgb(220, 211, 211);
    font-family: 'Rubik Mono One', monospace;
    text-shadow: 3px 3px 4px black;
    padding: 80px;

}

h3 {
    color: beige;
    font-size: 30px;
    background-color: #47288f;
    border-style: solid;
    border-width: 8px;
    border-color: black;
    padding: 80px;
    text-align: center;
    font-family: "Bangers", cursive;
    text-shadow: 3px 3px 4px black;
}

.nombre {
    background-color: black;
    font-size: 20px;

    text-decoration: none;
    font-family: 'Permanent Marker', cursive;
    border-radius: 5px;
}


/* botones */


.botones {
    background-color: var(--oscuro);
    display: flex;
    justify-content: space-between;
}

/* Flechas deslizantes */
#izquierdo {

    width: 1px;
}

#derecho {
    width: 1px;


}

@media (min-width: 768px) {


    #izquierdo {


        width: 60px;
        border-radius: 50%;
        margin: 2px;

    }

    #derecho {

        width: 60px;
        border-radius: 50%;
        margin: 2px;
    }
}

#derecho:hover {
    -webkit-box-shadow: 0px 0px 4px 2px rgba(229, 225, 225, 0.57);
    -moz-box-shadow: 0px 0px 4px 2px rgba(229, 225, 225, 0.57);
    box-shadow: 0px 0px 4px 2px rgba(229, 225, 225, 0.57);
    width: 65px;
    color: var(--oscuro);
    transition: 0.4s ease;
    font-weight: bold;


    cursor: pointer;
}

#izquierdo:hover {
    -webkit-box-shadow: 0px 0px 4px 2px rgba(229, 225, 225, 0.57);
    -moz-box-shadow: 0px 0px 4px 2px rgba(229, 225, 225, 0.57);
    box-shadow: 0px 0px 4px 2px rgba(229, 225, 225, 0.57);
    width: 65px;
    color: var(--oscuro);
    transition: 0.4s ease;
    font-weight: bold;
    cursor: pointer;
}



.personajes {
    /* position: relative; */
    background-color: var(--oscuro);
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    /* scrol suave */
    scroll-behavior: smooth;

    padding: 50px 0px 50px 0px;
    margin: 0px 0px 80px 0px;
    
}

/* quitar la barra de navegacion */
.personajes::-webkit-scrollbar {
    display: none;
}

.luchadores {

    border: var(--oscuro);

    margin: 10px;
    text-align: center;

}

.luchador{
    transition: 300ms;
}

.luchador:hover {
    -webkit-box-shadow: 0px 0px 15px 3px rgba(246, 238, 238, 0.45);
    -moz-box-shadow: 0px 0px 15px 3px rgba(246, 238, 238, 0.45);
    box-shadow: 0px 0px 15px 3px rgba(246, 238, 238, 0.45);
    width: 260px;
    height: 360px;

    font-weight: bold;

}

@media (min-width: 768px) {
    .luchador:hover {
        -webkit-box-shadow: 0px 0px 15px 3px rgba(246, 238, 238, 0.45);
        -moz-box-shadow: 0px 0px 15px 3px rgba(246, 238, 238, 0.45);
        box-shadow: 0px 0px 15px 3px rgba(246, 238, 238, 0.45);
        width: 260px;
        height: 360px;
        transition: 0.5s ease;
        font-weight: bold;

    }
}



.luchador {
    -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.79);
    -moz-box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.79);
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.79);
    width: 250px;
    height: 350px;
    border-radius: 15px;

}

.nombre {
    background-color: black;
    font-size: 20px;
    color: var(--blanco);
    text-decoration: none;
    font-family: 'Permanent Marker', cursive;

    border-radius: 5px;


}

/* imagenes movimientos */
.movimientos {
    /* sombra */
    -webkit-box-shadow: 0px 0px 4px 7px rgba(0, 0, 0, 0.79);
    -moz-box-shadow: 0px 0px 4px 7px rgba(0, 0, 0, 0.79);
    box-shadow: 0px 0px 4px 7px rgba(0, 0, 0, 0.79);
    display: flex;
    flex-direction: column;
}

.espacio {

    background-color: var(--oscuro);
    height: 250px;
    text-align: center;
    margin: 40px 0 40px 0;
    border-radius: 50px;



}

.espacio .logo-xbox {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 40px;

}

.espacio p {
    color: var(--blanco);
    font-size: 20px;
    color: rgb(179, 245, 114);
    text-transform: uppercase;
    word-spacing: 5px;

}

.espacio h2 {
    color: var(--oscuro);

}

.parrafo {
    background-color: black;
    display: flex;
    text-align: center;
}

.titulo-parrafo {
    background-color: var(--principal);
    padding: 0.5px;
    width: 250px;
    height: 250px;

}

.parrafo h2 {
    margin: 25px;
    text-align: center;

}

.parrafo p {
    color: #ffffff;
    margin: 15px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.footer {
    background-color: var(--oscuro);
    padding: 25px;


}




/* Movimientos */


.fondo-body {
    background-color: rgb(14, 14, 14);
}




.footer {
    font-size: 10px;
    text-align: center;
    padding: 50px;
}

.iconos-footer {
    padding: 20px;
}

.copy {
    color: var(--blanco);
    text-align: center;


}
span{
    font-family: "Bangers", cursive;
    padding: 100px 0 100px 0;
    
}
aside {
    margin: 100px 0 100px 0;
    font-family: "Bangers", cursive;
    
}